body
{
	background: #707070;
	margin:  0;
	display: flex;
	justify-content: center;
}
.container{
	background: #2A2A23;
	border-radius: 10px;
	width: 30vw;
	height: 50vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 20vh;
	color: white;
}