body
{
	text-align: center;
	margin: 0;
	font-size: 1.4rem;
}
.container_products
{

	background: #707070;

	margin-top: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 90vh;
}

.img_block
{
	width: 100%;
	height: 300px;
	border-radius: 5px 5px 0 0;
}

.block_product
{	
	color: white;
	width: 20vw;
	margin: 0 10px;
	border-radius: 10px;
	background: #2A2A23;
	height: 400px;
}

.btn
{
	font-family: monospace;
	background: #FF5900;
	color: white;
	
	border: none;
	border-radius: 3px;

	padding: 5px;
	margin: 5px 0px;
	width: 75px;
	font-size: 1.2rem;
}

.product_name {
	  font-weight: bold;

}
